body {
    background-color:#363a4f;
    font-family: 'National Park';
}

h1 {
   color:#f0c6c6;
   text-align: center;
}

p {
    color:#cad3f5;
    /* text-align: center; */
}

ul {
    color: #cad3f5;
    list-style-type: circle;
    /* text-align: center; */
    list-style-position: inside;
}

a {
    color: blanchedalmond;
}

.textcenter {
    display: grid;
    justify-content: center;
    align-content: start;
}

.center{
    text-align:center;
    border:1px;
}

.icons{
    display:inline-block;
    margin:5px 5px;
    padding:5px;
    border:1px;
}

.socials {
    text-decoration:none;
}

.socials img {
    width: 32px;
    height: 32px;
}

#discord {
    color:#cad3f5;
}

#discord u {
    color: blanchedalmond;
}
